<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <header class="site-header">
    <h1 class="site-title">My Portfolio</h1>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/achievements">Achievements</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="hero">
        <img src="/static/photos/rps.photo.jpg" alt="rps_photo" class="profile-photo">
        <h2 class="hero-title">Hi, I'm Rudra Pratap Singh</h2>
        <p class="hero-subtitle">Aspiring Data Scientist | Skilled in Python , Data Analysing </p>
        <a href="/projects" class="btn">View My Work</a>
    </section>


    <footer class="site-footer">
        <p>&copy; 2025 My Portfolio</p>
    </footer>
</main>

</body>
</html>
