<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Portfolio</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header class="site-header">
    <h1 class="site-title">My Portfolio</h1>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/achievements">Achievements</a></li>
        </ul>
    </nav>
    </header>


    <section class="content">
        <h2 class="section-title">Projects</h2>
        <div class="card-list">
            <div class="card">
                <h2>EDA On Netflix Dataset</h2>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRFOru8Tpr-7q80PBbn6b3P6vStYRBPTyj4g&s" width="400" height="230" id="Netflix">
                <h4 class="netflix_header">Exploratory Data Analysis of Netflix’s Movie & TV Show Dataset! 📈</h4>
                <h4 class="netflix_body">As a data enthusiast, I dove deep into this dataset using Python (pandas, numpy, seaborn, matplotlib) to uncover fascinating trends and insights.<br>
                Here’s what I did:<br>
                ✅ Cleaned and preprocessed the data, tackling missing values and inconsistencies.<br>
                ✅ Analyzed patterns in genres, release years, and ratings to understand content trends.<br>
                ✅ Created engaging visualizations to highlight key findings, like the rise of specific genres or shifts in content production over time.<br>
                This project was a great opportunity to sharpen my data analysis and visualization skills while exploring a dataset tied to an industry I love!<br>
                <div class="netflix_link"><a  href="https://github.com/Rudra-clrscr/Netflix/blob/main/Netflix_EDA.py">Github link for this project</a></div>
                </h4>
            </div>
            <div class="card">
                <h2>EDA On IPL Dataset</h2>
                <img  class="ipl_header" src="https://static.toiimg.com/thumb/msid-108583718,width-400,resizemode-4/108583718.jpg" width="400" height="230" id="IPL">
                <h4 class="ipl_header">Exploratory Data Analysis of Indian Primier League 🏏📊</h4>
                <h4><div class="ipl_body"> In this project, I applied Python (Pandas, Matplotlib, Seaborn) to clean and analyze 10 years of IPL match data. I explored trends in team performances, venue statistics, match outcomes, and victory patterns, presenting insights through clear and impactful visualizations.
This project strengthened my skills in:<br>
 ✅ Data cleaning & preprocessing<br>
 ✅ Statistical analysis<br>
 ✅ Data visualization & storytelling<br>
 ✅ Turning raw data into actionable insights<br>
I’m excited to bring these skills into real-world data projects and continue growing in the field of Data Analytics & Data Science.<br>
<div class="ipl_link"><a href="https://github.com/Rudra-clrscr/IPL_EDA/blob/main/IPL.ipynb">Github link for this project</a></div></h4>
            </div>
            <div class="card">
                <h2>Personal Portfolio Site</h2>
                <img src="https://wiztoonz.com/wp-content/uploads/2022/04/Blog-Post-Portfolio-1170x658.jpg" width="400" height="230" id="portfolio">
                <h4 class="portfolio_header">✨First Portfolio Website✨</h4>
                <h4><div class="portfolio_body">A project that marks the beginning of my web development journey — my very own portfolio site, crafted using Flask (Python), HTML, and CSS.
                    This project was an amazing learning journey where I:<br>
                   🔹 Designed a clean and responsive interface with HTML & CSS<br>
                   🔹 Used Flask to handle backend routing and serve dynamic content<br>
                   🔹 Showcased my projects, skills, and a bit about myself all in one place<br>
                   🔹 Gained hands-on experience in combining frontend + backend for a complete web app<br>
                <div class="portfolio_link"></div>


</div></h4>
            </div>
        </div>
    </section>

    <footer class="site-footer">
        <p>&copy; 2025 My Portfolio</p>
    </footer>
</body>
</html>
